{% extends "no_menu_base.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}
{% block all_page_title %}
    {% vocabulary "share_pl" as v_share_pl %}
    <div class="page-title offset-md-2 col-md-8">
        <h3>
            {% blocktrans %}{{ v_share_pl }} erwerben{% endblocktrans %}
        </h3>
    </div>
{% endblock %}
{% block allcontent %}
    {% config "currency" as c_currency %}
    {% config "share_price" as c_share_price %}
    {% enriched_organisation "D" as v_d_enriched_organisation %}
    {% vocabulary "share_pl" as v_share_pl %}
    {% vocabulary "subscription" as v_subscription %}
    {% vocabulary "member_type" as v_member_type %}
    {% vocabulary "share" as v_share %}
    {% vocabulary "co_member_pl" as v_co_member_pl %}
    <div class="offset-md-2 col-md-8">
        {% if shares.error %}
            <div class="alert alert-danger">
                {% blocktrans trimmed %}
                Du brauchst entweder mehr {{ v_share_pl }} für die von dir gewählten {{ v_subscription }}-Bestandteile
                oder eine deiner Eingaben ist keine positive Zahl.
                {% endblocktrans %}
                (x &#8713; &#8469;)
            </div>
        {% endif %}
        <div class="row mb-4">
            <div class="col-md-12">
                Wenn du ein Abo von auVert🥕 beziehen möchtest, empfehlen wir auch mindestens einen Anteilschein zu erwerben, es ist aber keine Bedingung.
                <br/><br/>
                Anteilsscheine sind zinslose Darlehen und können bei Austritt aus der Genossenschaft zurückgefordert werden. Mit einem Anteilschein erhältst du die Mitgliedschaft in der Genossenschaft auVert🥕 und erwirbst das Stimm- und Wahlrecht gemäss Statuten.
                <br/><br/>
                Geld, das mit Anteilsscheinen zur Verfügung gestellt wird, gilt als Eigenkapital der Genossenschaft und ermöglicht es, Investitionen zu tätigen wie z.B. ein Gemüsetunnel anschaffen oder Beerensträucher pflanzen - damit wir alle noch mehr Frisches vom Feld erhalten.😊
                
            </div>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-md-3 col-form-label">
                    {% blocktrans %}Neue {{ v_share_pl }}{% endblocktrans %}:
                </label>
                <div class="col-md-3">
                    <input type="number" name="shares_mainmember" class="form-control" value="{{ member.new_shares|default:shares.total_required }}" min="{% if shares.existing_main_member == 0 %}1{% else %}0{% endif %}"/>
                </div>
                <label class="col-md-6 col-form-label">
                    {% if shares.existing_main_member == 0 %}
                        {% blocktrans trimmed %}
                        Anteilschein(e) im Wert von je {{ c_currency }} {{ c_share_price }} erwerben.
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans trimmed with msc=member.active_shares_count%}
                        Du hast bereits {{ msc }} {{ v_share_pl }}
                        {% endblocktrans %}
                    {% endif %}
                </label>
            </div>
            {% for co_member in co_members %}
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">
                        {{ co_member.first_name }} {{ co_member.last_name }}
                    </label>
                    <div class="col-md-3">
                        <input type="number" name="{{ co_member.email }}" class="form-control" value="{{ co_member.new_shares|default:0 }}" min="0"/>
                    </div>
                    <label class="col-md-6 col-form-label">
                        {% blocktrans trimmed with cac=co_member.active_shares_count %}
                        besitzt bereits {{ cac }} {{ v_share_pl }}
                        {% endblocktrans %}
                    </label>
                </div>
            {% endfor %}
            <div class="row mb-4">
                <div class="col-md-12">
                    {% trans "Infos" %}:
                    {% blocktrans trimmed %}
                    Leider ist es (noch) nicht möglich, 0 Anteilscheine auszuwählen. Wenn du keinen Anteilschein erwerben möchtest, 
                    bitte “1” stehen lassen und auf der nächsten Seite unter “Kommentare” eine entsprechende Mitteilung machen. Danke!
                    {% endblocktrans %}
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-3 col-md-9">
                    <button type="submit" class="btn btn-success">
                        {% trans "Weiter" %}
                    </button>
                    <a href="{% url 'cs-cancel' %}" class="btn">
                        {% trans "Abbrechen" %}
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'juntagrico/external/bootstrap-input-spinner.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'juntagrico/external/require.min.js' %}" data-main="{% static 'juntagrico/js/initChangeExtra.js' %}">
    </script>
{% endblock %}
